@import url(https://fonts.googleapis.com/css?family=Nunito);


.butts1 {
  margin-left: 25%;
  margin-bottom: 5px;
  font-family: 'Graduate', cursive;
}

.butts2 {
  margin-right: 10px;
  font-family: 'Graduate', cursive;
}

.butts3 {
  margin-right: 600px;
  margin-left: 600px;
}

body {
  background-image: url('Turf.jpg');
}

.demo-card-square.mdl-card {
  width: 400px;
  height: 561px;
  margin: auto;
  margin-top: 10px;
}

.demo-card-square > .mdl-card__title {
  color: #fff;
  background:
    url('base2.jpg') #46B6AC;
  width: 400px;
  height: 561px;
}

.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #263238;
  color: white;
  text-align: center;
}


.demo-card-image.mdl-card {
  width: 205px;
  height: 332px;
  background: url('basetile.jpg') center / cover;
  border-radius: 25px;
}

.demo-card-image > .mdl-card__actions {
  height: 52px;
  padding: 16px;
  background: #263238;
  opacity: 0.9;
}
.demo-card-image__filename {
  margin: auto;
  font-size: 20px;
  font-weight: 700;
  color: white;
}


.demo-card-image1.mdl-card {
  width: 205px;
  height: 332px;
  background: url('basketballTile.jpg') center / cover;
  border-radius: 25px;
}

.demo-card-image1 > .mdl-card__actions {
  height: 52px;
  padding: 16px;
  background: #263238;
  opacity: 0.9;
}

.demo-card-image2.mdl-card {
  width: 205px;
  height: 332px;
  background: url('footballTile.jpg') center / cover;
  border-radius: 25px;
}

.demo-card-image2 > .mdl-card__actions {
  height: 52px;
  padding: 16px;
  background: #263238;
  opacity: 0.9;
}

.demo-card-image3.mdl-card {
  width: 205px;
  height: 332px;
  background: url('sportscardTile.jpg') center / cover;
  border-radius: 25px;
}

.demo-card-image3 > .mdl-card__actions {
  height: 52px;
  padding: 16px;
  background: #263238;
  opacity: 0.9;
}

.demo-card-image4.mdl-card {
  width: 205px;
  height: 332px;
  background: url('gamingcardsTile.jpg') center / cover;
  border-radius: 25px;
}

.demo-card-image4 > .mdl-card__actions {
  height: 52px;
  padding: 16px;
  background: #263238;
  opacity: 0.9;
}

.demo-card-image5.mdl-card {
  width: 205px;
  height: 332px;
  background: url('otherTile.jpg') center / cover;
  border-radius: 25px;
}

.demo-card-image5 > .mdl-card__actions {
  height: 52px;
  padding: 16px;
  background: #263238;
  opacity: 0.9;
}

.noUnderline {
  text-decoration: none;
}

.toTheLeft {
  float: left;
  width: 60%;
}

.toTheRight {
  width: 40%;
  float: left;
}

h4 {
  text-align: center;
  font-family: 'Graduate', cursive;
}

.headerFont {
  font-family: 'Graduate', cursive;
  font-size: 40px;
}

.cardFont {
  font-family: 'Graduate', cursive;
  font-size: 23px;
  color: #313131;
  text-align: center;
}

/* styling for login box */
.demo-card-square2 {
 text-align: center;
 margin: auto;
 justify-content: center;
 width: 500px;
 height: 275px;
 opacity: 0.5;
 border-radius: 15px;
 box-shadow: 5px 10px;
}
.logIn {
 color: #B07F67;
 font-family: Graduate;
 font-size: 15px;
}
.LoginFont {
 font-weight: bold;
 font-size: 25px;
}
