.butts1 {
  margin-left: 25%;
  margin-bottom: 5px;
}

.butts2 {
  margin-right: 10px;
}

body {
  background-image: url('Turf.jpg');
}

.demo-card-square.mdl-card {
  width: 400px;
  height: 561px;
  margin: auto;
  margin-top: 10px;
}

.demo-card-square > .mdl-card__title {
  color: #fff;
  background:
    url('base2.jpg') #46B6AC;
  width: 400px;
  height: 561px;
}

.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #263238;
  color: white;
  text-align: center;
}
