@import url(https://fonts.googleapis.com/css?family=Nunito);

.grow { transition: all .2s ease-in-out; }
.grow:hover { transform: scale(1.05); }

.allContent {
  padding: 30px;
} /* padding for all content on website*/

.butts1 {
  margin-left: 25%;
  margin-bottom: 5px;
  font-family: 'Graduate', cursive;
}

.butts2 {
  margin-right: 10px;
  font-family: 'Graduate', cursive;
}

.butts3 {
  margin-right: 600px;
  margin-left: 600px;
}

body {
  background-image: url('Turf.jpg');
}


.demo-card-square.mdl-card {
  width: 400px;
  height: 561px;
  margin: 0 auto;
  margin-top: 10px;
}

.mdl-layout__content{
  display: block !important;
}

.demo-card-square > .mdl-card__title {
  color: #fff;
  background:
    url('base2.jpg') #46B6AC;
  width: 400px;
  height: 561px;
}

.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #263238;
  color: white;
  text-align: center;
}


.demo-card-image.mdl-card {
  width: 205px;
  height: 332px;
  background: url('basetile.jpg') center / cover;
  border-radius: 25px;
}

.demo-card-image > .mdl-card__actions {
  height: 52px;
  padding: 16px;
  background: #263238;
  opacity: 0.9;
}
.demo-card-image__filename {
  margin: auto;
  font-size: 20px;
  font-weight: 700;
  color: white;
}


.demo-card-image1.mdl-card {
  width: 205px;
  height: 332px;
  background: url('basketballTile.jpg') center / cover;
  border-radius: 25px;
}

.demo-card-image1 > .mdl-card__actions {
  height: 52px;
  padding: 16px;
  background: #263238;
  opacity: 0.9;
}

.demo-card-image2.mdl-card {
  width: 205px;
  height: 332px;
  background: url('footballTile.jpg') center / cover;
  border-radius: 25px;
}

.demo-card-image2 > .mdl-card__actions {
  height: 52px;
  padding: 16px;
  background: #263238;
  opacity: 0.9;
}

.demo-card-image3.mdl-card {
  width: 205px;
  height: 332px;
  background: url('sportscardTile.jpg') center / cover;
  border-radius: 25px;
}

.demo-card-image3 > .mdl-card__actions {
  height: 52px;
  padding: 16px;
  background: #263238;
  opacity: 0.9;
}

.demo-card-image4.mdl-card {
  width: 205px;
  height: 332px;
  background: url('gamingcardsTile.jpg') center / cover;
  border-radius: 25px;
}

.demo-card-image4 > .mdl-card__actions {
  height: 52px;
  padding: 16px;
  background: #263238;
  opacity: 0.9;
}

.demo-card-image5.mdl-card {
  width: 205px;
  height: 332px;
  background: url('otherTile.jpg') center / cover;
  border-radius: 25px;
}

.demo-card-image5 > .mdl-card__actions {
  height: 52px;
  padding: 16px;
  background: #263238;
  opacity: 0.9;
}

.noUnderline {
  text-decoration: none;
}

.toTheLeft {
  float: left;
  width: 60%;
}

.toTheRight {
  width: 39%;
  float: left;
}

a {
  text-decoration-color: blue;
  color: blue;
}

h4 {
  text-align: center;
  font-family: 'Graduate', cursive;
}

h3 {
  text-align: center;
  font-family: 'Graduate', cursive;
}

.headerFont {
  font-family: 'Graduate', cursive;
  font-size: 40px;
}

.cardFont {
  font-family: 'Graduate', cursive;
  font-size: 23px;
  color: #313131;
  text-align: center;
}

.font {
  font-family: 'Graduate', cursive;
}

.dataBlock {
  padding-right: 30px;
  border: 2px solid black;
  padding: 15px;
  background: white;
  border-radius: 10%;
  min-height: 320px;
  font-family: 'Graduate', cursive;
} /*data on the browse page*/

.dataBlockFont {
  font-family: 'Graduate', cursive;
  font-size: 20px;
}

.dataBlockPadding{
  padding: 20px;
}

/* styling for login box */
.demo-card-square2 {
 text-align: center;
 margin-left: 500px;
 justify-content: center;
 width: 500px;
 height: 275px;
 opacity: 0.5;
 border-radius: 15px;
 box-shadow: 5px 10px;
}

.logIn {
 color: red;
 font-family: cursive;
 font-size: 15px;
}

.LoginFont {
 font-weight: bold;
 font-size: 25px;
}


/* STYLING FOR SINGLE SET */

.set_header {
  width: 100%;

}

span {
  font-family: 'Graduate', cursive;
  text-align: center;
  font-size: 13px;
}

.setCount {
  margin-left: 450px;
}

th, td {
  text-align: center;
  background-color: #f4ecdb;
  border-style: solid;
  font-family: 'Graduate', cursive;
  font-size: 15px;
  border-width: .5px;
  padding: 5px;
  margin-right: 5px;
}

table {
  border: black;
  border-style: solid black;
}

thead {
  text: bolder;
  font-size: 20px;
}

.checklist {
  width: 50%;
  float: left;
}

.card {}

.card:hover + .showcard {
  display: block;
}

.showcard {
  width: 40%;
  background-color: #f4ecdb;
  padding-left: 30px;
  float: right;
  display: none;
}

.haveOnSet {
  text-align: left;
}
